{% extends 'base.html' %} {% block content %}

<h1> Details </h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ keyboard.name }}</span>
        <p>Keyboard: {{ keyboard.keyboard }}</p>
        <p>Switches: {{ keyboard.switch }}</p>
        <p>Keycaps: {{ keyboard.keycaps }}</p>
    </div>
    {% for photo in keyboard.photo_set.all %}
        <img class="responsive-img card-panel" src="{{photo.url}}">
    {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
    {% endfor %}
    <form
        action="{% url 'add_photo' keyboard.id %}"
        enctype="multipart/form-data"
        method="POST"
        class="card-panel"
    >
        {% csrf_token %}
        <input type="file" name="photo-file" />
        <br /><br />
        <input type="submit" class="btn" value="Upload Photo" />
    </form>
    <div class="card-action">
        <a href="{% url 'keyboard_update' keyboard.id %}">Edit</a>
        <a href="{% url 'keyboard_delete' keyboard.id %}">Delete</a>
    </div>
</div>

{% endblock %}